

.candidateName {
    padding-top: 1em;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px dotted black;
}

table.candidateInfo {
    font-size: 1.3em;
}

table.candidateInfo td {
    padding: 0.3em 1em 1em 0.5em;
}

table.candidateInfo tr {
    border-bottom: 1px dotted gray;
}

.heading {
    padding: 0 2em 0 0;
}