.video { display:inline-block; }


.buttons {
    list-style-type: none;
    border-bottom: 1px solid black;

}

.buttons li {
    display: inline-block;
}
.buttons button {
    font-size: 2em;
    border: none;
    background-color: white;
    color: black;
    padding: 0 1em;
}
.buttons button:hover {
    font-size: 2em;
    border: none;
    background-color: grey;
    color: white;
}

.modules {
    position: relative;
}

li.selected button {
    background-color: black;
    color: white;
}

/* the the persons face is going to be the whole screen */
.yourvideo, .yourvideo > video {
    width: 100%;
    height: 100%;
}

/* this should be renamed to video_float because its used for you and the other person
 *  any time the video is in the corner
 */
.floating_corner_video {
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 160px;
    height: 120px;
    z-index: 100;
}
.floating_corner_video video {
    width: 160px !important;
    height: 120px !important;
}

.videoModule.floating_corner_video {
    width: 160px !important;
    height: 120px !important;
}


.videoModule {
    position: absolute;
    /*top: 0;*/
    width: 100%;
    height: 100%;
    background-color: black;
}

iframe {
    width: 100%;
    height: 100%;
}

.module {
    display: none;
    height: 100%;
}

html, body {
    height: 100%;
    font-family: "Helvetica Neue Light", "Calibri", "Lucida Grande", "Arial", sans-serif;
}

.h100 {
    height: 100%;
}
.w100 {
    width: 100%;
}

.w75 {
    width: 75%;
}

.centered {
    margin: 0 auto;
}

.iblock {
    display: inline-block;
}

.hidden {
    display: none;
}

.zNeg {
    z-index: -1;
}

.big {
    font-size: 2em;
}

.bigish {
    font-size: 1.5em;
}

.ptop3m {
    padding-top: 3em;
}

.pleft2m {
    padding-left: 2em;
}

.bold {
    font-weight: bold;
}

.mtop1e {
    margin-top: 1em;
}

.white {
    color: white;
}